@import "../../styles/vars/color.scss";

.tag {
  margin: 1rem 0.25rem;
  background-color: $salmonLight;
  border: 1px solid $salmon;
  color: $salmon;
  display: inline-block;
  border-radius: 4px;
  width: fit-content;
  padding: 0.25rem;
  text-transform: capitalize;
}
