@import "../../styles/vars/color.scss";
@import "../../styles/mixins/responsive.scss";

.simpleHeader {
  padding: 1rem;
  position: fixed;
  background-color: $blancoSucio;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1000;
  .close {
    float: right;
  }
  h1 {
    clear: both;
  }
  @include desktop {
    display: none;
  }
}
