$verdePrimario: #4c9789;
$salmon: #f68069;
$blancoSucio: #fcf5f3;
$amarillo: #ffd88c;
$negroPrimario: #3c4047;
$blanco: #ffffff;
$verdeDark: #548582;
$verdeLight: #b6d5c6;
$amarilloDark: #f5b75b;
$amarilloLight: #ffe6c2;
$salmonSelected: #d85f47;
$salmonLight: #fceae0;
$gris: #959fa6;
$grisLight: #c1cbd2;
$colorPielRosa: #f8cdba;
