@mixin cardEvento {
  box-shadow: 1px 10px 10px rgba(102, 62, 51, 0.02);
  filter: drop-shadow(8px 12px 14px rgba(102, 62, 51, 0.12));
}

@mixin categoria {
  filter: drop-shadow(1px 10px 10px rgba(102, 62, 51, 0.02));
  filter: drop-shadow(8px 12px 14px rgba(102, 62, 51, 0.12));
}

@mixin toggle {
  filter: drop-shadow(0px 4px 4px rgba(50, 50, 71, 0.08));
  filter: drop-shadow(0px 4px 8px rgba(50, 50, 71, 0.06));
}
