@import "../../styles/vars/font.scss";
@import "../../styles/vars/color.scss";
@import "../../styles/vars/shadows.scss";
@import "../../styles/mixins/responsive.scss";

nav {
  display: none;
  padding: 1em;

  background-color: $blancoSucio;
  article {
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 20%;
      img {
        width: 80%;
      }
    }
    .menu-items {
      li {
        display: inline-block;
        padding: 0.75rem;
        .menuImg {
          width: 35px;
          height: 35px;
          display: inline-block;
          background: center no-repeat;
          background-size: cover;
          border-radius: 20px;
          margin-bottom: -9px;
          margin-right: 5px;
        }
      }
    }
    @include desktop {
      display: flex;
    }
  }
  @include desktop {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}
