@import "../../styles/vars/font.scss";
@import "../../styles/vars/color.scss";
@import "../../styles/vars/shadows.scss";
@import "../../styles/mixins/buttons.scss";

.confirmationPage {
  .headerConfirm {
    padding: 1rem;
    .close {
      float: right;
      @include desktop {
        display: none;
      }
    }
    h1 {
      margin: 3rem 0;
    }
    .headline {
      display: none;
    }
  }
  .illustration {
    width: 100%;
    @include desktop {
      width: 50%;
    }
  }
  .fixedButton {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 2em 1em;

    a {
      padding: 1rem 1rem 2rem 1rem;
      @include primaryButton;
      color: $blanco;
      display: block;
      text-align: center;
      padding: 1rem;
      @include desktop {
        position: unset;
        width: 40%;
        height: 58px;
        margin: 0 auto;
      }
    }
    @include desktop {
      position: unset;
    }
  }
  @include desktop {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .headline {
    display: block;
  }
}
