@import "./vars/color.scss";
@import "./vars/font.scss";
@import "./vars/shadows.scss";
@import "./mixins/responsive.scss";

:root {
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 20px;
  }
}

@include desktop {
  main {
    margin-top: 100px;
  }
  button {
    width: 30%;
  }
}

* {
  box-sizing: border-box;
  margin: unset;
}

html {
  background-color: $blancoSucio;
  color: $negroPrimario;
}
body {
  overscroll-behavior-x: none;
}
.content {
  margin: 1rem;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

form {
  @include tablet {
    width: 60%;
    margin: 0 auto;
  }
  @include desktop {
    width: 50%;
  }
}

h1.headline {
  display: none;
  @include desktop {
    display: block;
    margin-top: 2rem;
  }
}
