@import "../../styles/vars/font.scss";
@import "../../styles/vars/color.scss";
@import "../../styles/vars/shadows.scss";
@import "../../styles/mixins/responsive.scss";
.selectType {
  .selectores {
    margin: 7.5rem 1rem;
    overflow: visible;
    @include desktop {
      margin-top: 2rem;
    }
  }

  .userTypeCard {
    cursor: pointer;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 12px;
    @include fotoComodin;
    .title {
      text-transform: none;
    }
    p {
      width: 80%;
    }
    img {
      float: right;
    }
  }
  .vecino {
    background-color: $amarilloLight;
  }
  .comercio {
    background-color: $salmonLight;
  }
  @include desktop {
    margin-top: 0px !important;
    padding-bottom: 2rem;
  }
}

.sign {
  .userTypeCard {
    @include desktop {
      width: 45%;
    }
  }
}
