@import "../../styles/vars/color.scss";
@import "../../styles/vars/shadows.scss";
@import "../../styles/mixins/buttons.scss";

.commercePage {
  padding: 1rem 1rem 8rem 1rem;
  .tags,
  .horario,
  .direccion {
    margin: 1rem 0;
  }
  .tags {
    margin-bottom: 0;
    ul {
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .horario {
    margin-top: 0;
  }
  .direccion {
    div {
      display: flex;
      img {
        margin-right: 0.5rem;
      }
    }
  }
  .actividades {
    margin: 2rem 0 1rem 0;
  }

  .socials {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    .social {
      background-color: $verdePrimario;
      text-align: center;
      padding: 1rem 1.5rem;
      border-radius: 4px;
    }
  }
  .eventoLarge {
    margin: 1rem 0;
  }
  .fixedButton {
    background-color: $blancoSucio;
    box-shadow: 0px -8px 8px rgba(50, 50, 71, 0.06%);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem 1rem 2rem 1rem;
    .follow {
      @include primaryButton;
      width: 100%;
    }
    a {
      text-align: center;
      height: 48px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
