@import "../../styles/vars/color.scss";
@import "../../styles/vars/shadows.scss";
@import "../../styles/mixins/buttons.scss";

.commercePage {
  padding: 1rem 1rem 1rem 1rem;
  .tags,
  .horario,
  .direccion {
    margin: 1rem 0;
  }
  .tags {
    ul {
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .direccion {
    div {
      display: flex;
      img {
        margin-right: 0.5rem;
      }
    }
  }
  .fixedButton {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem 1rem 2rem 1rem;
    .follow {
      @include primaryButton;
      width: 100%;
    }
    a {
      text-align: center;
      height: 48px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
