@import "../../styles/vars/color.scss";
@import "../../styles/vars/shadows.scss";
@import "../../styles/mixins/responsive.scss";

.perfilHeader {
  .cross {
    width: fit-content;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    padding: 1rem;
    background-color: #fcf5f3;
    -webkit-clip-path: circle(18px at 33px 34px);
    clip-path: circle(18px at 33px 34px);
    img.close {
      float: right;
    }
  }
  padding: 2rem;
  text-align: center;
  background-color: $verdePrimario;
  color: $blanco;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;

  @include safari {
    padding: 0;
    .fotoPerfil {
      margin: 2rem auto 1rem auto;
    }
    .title {
      margin-bottom: 1rem;
    }
  }
}

.svg {
  position: absolute;
  width: 0;
  height: 0;
}
