@import "../../styles/vars/font.scss";
@import "../../styles/vars/color.scss";
@import "../../styles/vars/shadows.scss";
@import "../../styles//mixins/buttons.scss";
@import "../../styles//mixins/responsive.scss";

.iniciar {
  @include primaryButton;
  padding: 0.5rem 1rem;
}
.registrarse {
  @include greenButton;
  padding: 0.5rem 1rem;
}

.homepage {
  background-image: url("../../assets/home.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 34vh;
  .overlay {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #000000c7;
    left: 0;
    top: 0;
    z-index: 99;
    transition: background-color 0.5s;
  }
  .hub {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: $blanco;
    padding: 3rem 1rem;
    -webkit-box-shadow: 0px -8px 16px -6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px -8px 16px -6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px -8px 16px -6px rgba(0, 0, 0, 0.25);
    border-radius: 12px 12px 0 0;
    transition: bottom 1s;
    p {
      line-height: 1.5rem;
    }
    div {
      max-width: 1100px;
      margin: 0 auto;
    }

    ul {
      padding-left: 1rem;
      li {
        line-height: 1.4rem;
        margin-left: 1rem;
        list-style: disc;
      }
    }
    h1 {
      margin-top: 3rem;
    }
    .cruz {
      float: right;
    }
    .pd {
      color: $verdePrimario;
    }
  }
}
.mainSection {
  height: 100vh;
  padding: 1rem;
  padding: 4rem 2rem;

  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    color: $verdePrimario;
  }
  p {
    font-family: "Sarabun", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.05rem;
    line-height: 1.5rem;
    margin: 2rem 0;
  }
}

@include desktop {
  .homepage {
    background-position: right;
    background-size: contain;
    background-position-y: 4rem;
  }
  .mainSection {
    height: 80vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem;

    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 4rem;
      line-height: 5rem;
      color: $verdePrimario;
    }
    p {
      font-family: "Sarabun", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 31px;
      width: 50%;
    }
    .mobile {
      display: none;
    }
  }
}
