@import "../../styles/mixins/buttons.scss";
@import "../../styles/mixins/responsive.scss";

.login {
  margin-bottom: 1rem;
  .logo {
    width: 40%;
    display: block;
    margin: 2rem auto;
    @include tablet {
      width: 30%;
    }
    @include desktop {
      display: none;
    }
  }
  .illustration {
    width: 100%;
    margin: 2rem 0 2rem 0;
    @include tablet {
      margin: 3rem auto 2rem auto;
      width: 50%;
      display: block;
    }
    @include desktop {
      width: 20%;
    }
  }
  article {
    padding: 1rem;
    input[type="submit"] {
      @include primaryButton;
    }

    .field-icon {
      float: right;
      margin-right: 0.75rem;
      margin-top: -47px;
      width: 32px;
      position: relative;
      z-index: 2;
      @include tablet {
        margin-top: -50px;
      }
      @include desktop {
        margin-top: -55px;
      }
    }
  }
  a.enlace {
    line-height: 1.5rem;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  @include desktop {
    padding-bottom: 2rem;
  }
}
