@import "../../styles/mixins/responsive.scss";
.commercesList {
  margin: 1rem;
  .commerceCard {
    width: 100%;
    margin: 1rem auto;
  }
  @include desktop {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    .commercesCard {
      width: 500px;
    }
  }
}
