@import "../../styles/vars/color.scss";
@import "../../styles/vars/font.scss";
@import "../../styles/vars/shadows.scss";
@import "../../styles/mixins/responsive.scss";

form {
  label {
    display: block;
    @include label;
    span {
      color: $gris;
      font-size: 0.875rem;
      font-weight: 400;
    }
    @include desktop {
      line-height: 1.25rem;
    }
  }
  input,
  textarea,
  select {
    box-sizing: border-box;
    background: $blanco;
    border: 1px solid $salmon;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem 0;
    width: 100%;
    font-family: "Sarabun", sans-serif;
  }
  #file {
    border: none;
    height: unset;
    color: $blanco;
    background-color: $verdeDark;

    &::-webkit-file-upload-button {
      visibility: hidden;
    }
    &::before {
      content: "Subir imagen";
      color: $blanco;
      margin: 37%;
    }
  }
}
